/*@media (max-width: 1069px) {
    .header .navbar-brand {
        max-width: 25rem; 
    }
}
@media (max-width: 867px) {
    .header .navbar-brand {
        max-width: 15rem; 
*/
@media (max-width: 1200px) {
    .logo {
        width: 12rem; 
    }
}


@media (max-width: 992px) {
    .logo {
        width: 25rem; 
    }
}


@media (max-width: 768px) {
    .logo {
        width: 23rem; 
    }
}


@media (max-width: 576px) {
    .logo {
        width: 18rem; 
    }
}
@media(max-width:1170px){
    .section-subtitle{
        max-width:60%;
    }
    .header .navbar{
        top:100%;
        background-size: cover;
        padding:2rem;
        position:relative;
        
    }
    .header .navbar-nav{
        height:60rem;
        top:100%;
        width:100%;;
        
    }
    .header .navbar-nav .nav-link{
        padding:0.25rem 0.5rem;
        margin-bottom:1rem;
    }
}
@media(max-width:991px){
    .about .banner_section,
    .product .banner_section,
    .startup .banner_section,
    .internship .banner_section,
    .login .banner_section{
        padding-top:12.5rem;
        padding-bottom:3rem;
    }
}
@media(max-width:767px){
    body,html{
        font-size:8px
    }
    .section-subtitle{
        max-width:80%;
    }
}
@media(max-width:590px){
    body,html{
        font-size:7px;
    }
}
@media(max-width:767px){
    .banner_section{
        min-height:80vh;
    }
    .banner_section .carousel-item{
        height:80vh;
    }

}